.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1; // フッターを最下部に押しやるため
  padding-top: 2rem; // ヘッダーとの間にスペース (ヘッダーがfixed/stickyでない場合)
  padding-bottom: 2rem; // フッターとの間にスペース
}